
body {
  margin: 0;
  font-family: 'Cabin Sketch', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 50px;
  background-color: #e66610;
  font-family: sans-serif;
}

#container {
  display: flex;
  justify-content: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
